
<p>Id narocila: </p>
<div>
    <div class="row">
            <div class="col col-md-9">
                <p>Id uporabnika: {{this.order.customerId}} </p>
                <p>Id dostavljalca: {{this.order.courierId}} </p>
                <p>Datum: {{this.order.orderDate}} </p>
                <p>Artikli: </p>
                    {{#each this.order.items}}
                        <p>Izdelek z id: {{_id}}</p>
                    {{/each}}


            </div>
        <form action="unlockWithToken/{{this.order._id}}" method="post">
            <input type="submit" class="btn btn-primary" value="Predvajaj zeton">
        </form>
        </div>