<div>
{{#each this.order}}
<hr>
    <div class="row order-center">
        <div class="col col-md-12">
            <h3><b>Izdelek: </b>{{name}} </h3>
            <h4><b>Kolicina: </b>{{quantity}} </h4>
            <h4><b>Teza: </b>{{weight}} </h4>
            <p><b>Črtna koda: </b>{{barcode}} </p>
            <form action="/items/removeItem/{{_id}}" method="post">
                <input type="submit" class="btn btn-primary" value="Odstrani artikel">
            </form>

        </div>
    </div>
{{/each}}
    <div class="row order-center">
    <div class="col col-md-12">
        <hr>
        <form action="placeOrder/" method="post">
            <input type="submit" class="btn btn-success" value="Oddaj narocilo">
        </form>
    </div>
    </div>
