<div class="row d-flex justify-content-center">
    <div class="col col-md-6">
        <div class="panel panel-default">

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-left">Id naročila</th>
                        <th scope="col" class="text-left">Datum</th>
                        <th scope="col" class="text-left">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each this.order}}
                    <tr class="table-info">

                        <th scope="row">{{_id}}</th>
                        <td>{{orderDate}}</td>
                        <td>
                            {{#if isDelivered}}
                            Dostavljeno
                            {{else}}
                            <form action="requireUnlock/{{customerId}}/{{_id}}" method="post">
                                <input type="submit" class="btn btn-primary" value="Zahtevaj odklepanje">
                            </form>
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>